<h1 mat-dialog-title>{{ data.title }}</h1>
<div mat-dialog-content>
  <mat-form-field>
    <input
      matInput
      (keyup)="search($event.target.value)"
      placeholder="Search"
    />
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" class="custom-table">
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>Select</th>
      <td mat-cell *matCellDef="let itemModel">
        <mat-radio-button
          [value]="itemModel"
          (change)="processSelection($event)"
          [checked]="itemModel.itemID === selectedItem.itemID"
        ></mat-radio-button>
      </td>
    </ng-container>
    <ng-container matColumnDef="itemName">
      <th mat-header-cell *matHeaderCellDef>
        {{ data.itemType }}
      </th>
      <td mat-cell *matCellDef="let itemModel">
        {{ itemModel.itemName }}
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: columns"></tr>
  </table>
</div>
<div mat-dialog-actions>
  <button
    mat-raised-button
    color="primary"
    type="button"
    (click)="processData()"
    [disabled]="this.selectedItem.itemID === 0"
  >
    Save
  </button>
</div>
