<mat-form-field>
  <input matInput (keyup)="search($event.target.value)" placeholder="Search" />
</mat-form-field>

<table mat-table [dataSource]="dataSource" matSort class="custom-table">
  <ng-container matColumnDef="firstName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>First Name</th>
    <td mat-cell *matCellDef="let userFormModel">
      {{ userFormModel.firstName }}
    </td>
  </ng-container>
  <ng-container matColumnDef="lastName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</th>
    <td mat-cell *matCellDef="let userFormModel">
      {{ userFormModel.lastName }}
    </td>
  </ng-container>
  <ng-container matColumnDef="employeeID">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Employee ID</th>
    <td mat-cell *matCellDef="let userFormModel">
      {{ userFormModel.employeeID }}
    </td>
  </ng-container>
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let userFormModel">
      <button
        mat-raised-button
        (click)="editAction(userFormModel)"
        class="margin-right-small"
        color="primary"
      >
        Edit
      </button>
      <button
        mat-raised-button
        (click)="deleteAction(userFormModel)"
        color="warn"
      >
        Delete
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columns; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: columns"></tr>
</table>
